<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Room Booker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'roomBooker/css/styles.css' %}">
</head>
<body>
    <div class="navbar" >
        <div class="navbar-left">
            <a class="navbar-link" href="{% url 'welcome' %}">Start Page</a>
            <a class="navbar-link" href="{% url 'meets' %}">Meets</a>
            <a class="navbar-link" href="{% url 'rooms' %}">Rooms</a>
            <a class="navbar-link" href="{% url 'week_preview' %}">Week preview</a>
        </div>

        <div class="navbar-right">
            {% if user.is_authenticated%}
                <a class="navbar-link" href="{% url 'logout' %}">Log out</a>
            {% endif %}
            <a class="navbar-link" href="{% url 'login' %}">Log in</a>
            <a class="navbar-link" href="{% url 'signup' %}">Sign in</a>

        </div>
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
