<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Room Booker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'roomBooker/css/styles.css' %}">
</head>
<body>
    <div class="navbar" >
        <a href="{% url 'welcome' %}">Start Page</a>
        <a href="{% url 'meets' %}">Meets</a>
        <a href="{% url 'rooms' %}">Rooms</a>
<!--        <a href="#">Kontakt</a>     do ustalenia-->
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
