{% extends 'meeting/base.html' %}

{% block content %}
    {% if meet_list %}
        {% for meet in meet_list %}
            <h1><a class="link" href="{% url 'meet_detail' meet.id %}">{{meet}}</a></h1>
        {% endfor %}
    {% endif %}
        <button><a href="{% url 'add_meet' %}">Add Meet</a></button>

    {% if meet_list %}
        {% for meet in meet_list %}
            <h3>{{meet.name}} {{meet.start_time|time:'H:i'}} {{meet.end_time|time:'H:i'}} {{meet.meet_date|date:'d.m.Y'}}</h3>
        {% endfor %}
    {% endif %}

{% endblock %}
