{% extends 'meeting/base.html' %}
{% load post_tags %}

{% block content %}

<table>
    <thead>
        <tr>
            {% actual_week as week_dates %}
                {% for date in week_dates %}
                    <th>{{ date }}</th>
                {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% dict_of_dates_and_hours request.user as meets %}
        {% range_values as hours %}
            {% for hour in hours %}
                <tr>
                    {% for date in week_dates %}
                    {% get_meet_times meets date as meet_times %}
                        {% if date in meets and hour in meet_times %}
                            <td class="event" onclick="location.href='{% url 'meets' %}'">{{ hour }}</td>
                        {% else %}
                            <td>{{ hour }}</td>
                        {% endif%}
                    {% endfor %}
                </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}